@model WebRestaurant.Shared.Dtos.DinnerTableDto

@{
    ViewData["Title"] = "Удаление";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Удаление</h1>

<h3>Вы уверены, что хотите удалить столик?</h3>
<div>
    <h4>Столик</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Number)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Number)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Удаление" class="btn btn-danger" /> |
        <a asp-action="Index">К списку</a>
    </form>
</div>
