<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebRestaurant.Client</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/css/nice-select.css">
    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/gijgo.css">
    <link rel="stylesheet" href="~/css/animate.css">
    <link rel="stylesheet" href="~/css/slicknav.css">

    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/site.css" />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>
    <header>
        <div class="header-area ">
            <div id="sticky-header" class="main-header-area">
                <div class="container-fluid p-0">
                    <div class="header_bottom_border">
                        <div class="row align-items-center no-gutters">
                            <div class="col-xl-3 col-lg-2">
                                <div class="logo">
                                    <a asp-controller="Home" asp-action="Index">
                                        <img src="~/Images/logo.png" alt="">
                                    </a>
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-7">
                                <div class="main-menu  d-none d-lg-block">
                                    <nav>
                                        <ul id="navigation">

                                            <li><a asp-controller="Home" asp-action="Index">Главная</a></li>
                                            <li><a asp-controller="PreOrders" asp-action="Index">Предзаказ</a></li>
                                            @if (User.Identity.IsAuthenticated)
                                            {
                                                <li><a asp-controller="Order" asp-action="Index">Мои Заказы</a></li>
                                            }
                                            @if (User.IsInRole("admin"))
                                            {
                                                <li>
                                                    <a href="#">Админка <i class="ti-angle-down"></i></a>
                                                    <ul class="submenu">
                                                        <li><a asp-controller="User" asp-action="Index">Пользователи</a></li>
                                                        <li><a asp-controller="Role" asp-action="Index">Роли</a></li>
                                                        <li><a asp-controller="OrderStatus" asp-action="Index">Статусы заказа</a></li>
                                                        <li><a asp-controller="Order" asp-action="Index">Заказы</a></li>
                                                        <li><a asp-controller="Dish" asp-action="Index">Блюда</a></li>
                                                        <li><a asp-controller="DinnerTable" asp-action="Index">Столики</a></li>
                                                        <li><a asp-controller="DishesToOrder" asp-action="Index">Блюда к заказу</a></li>
                                                        <li><a asp-controller="Statistic" asp-action="Index">Статистика</a></li>
                                                        <li><a asp-controller="Comment" asp-action="Index">Комментарии</a></li>
                                                        <li><a asp-controller="FeedBack" asp-action="Index">Отзывы</a></li>
                                                    </ul>
                                                </li>
                                            }
                                            <li><a asp-controller="Home" asp-action="FeedBack">Связь с нами</a></li>
                                        </ul>
                                    </nav>
                                </div>
                            </div>
                            <div class="col-xl-3 col-lg-3 d-none d-lg-block">
                                <div class="say_hello">
                                    @if (!User.Identity.IsAuthenticated)
                                    {
                                        <a asp-controller="Account" asp-action="Login">Авторизоваться</a>
                                    }
                                    else
                                    {
                                        <a asp-controller="Account" asp-action="Logout">Выйти (@User.Identity.Name)</a>
                                    }
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>

    <div class="bradcam_area bradcam_bg_2">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>@ViewBag.Title</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @RenderBody()

    <footer class="footer">
        
        <div class="copy-right_text">
            <div class="container">
                <div class="footer_border"></div>
                <div class="row">
                    <div class="col-xl-12">
                        <p class="copy_right text-center">
                            &copy; 2023 - WebRestaurant.Client - <a asp-area="" asp-page="/Privacy">Privacy</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
